html,
body {
  height: 100%;
  font-size: 13px;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  max-width: 1288px;
  margin: 0px auto;
}

/* Header ---------------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  color: white;
  display: flex;
  justify-content: center;
}

.header__container {
  max-width: 1288px;
  display: flex;
  min-height: 79px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: "Playfair Display SC", serif;
  font-size: 36px;
  margin-left: 80px;
  margin-right: 300px;
  color: inherit;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 30px;
  font-size: 13px;
}

.menu__item a {
  text-decoration: none;
  color: white;
}

/* Main ---------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

/* Screen ---------------------------------------------------*/

.screen-block__body {
  width: 1299px;
  height: 500px;
  background: url(../img/Screen.png);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-block__title {
  font-size: 35px;
}

.underscreen-block__body {
  background-color: rgb(229, 174, 72, 0.75);
  width: 1299px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.underscreen-block__button {
  border: 3px solid white;
  width: 220px;
  height: 55px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 110px;
}

/* Separator ---------------------------------------------------*/

.separator-block__container {
  width: 1299px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.separator-block__title {
  width: 1070px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(229, 174, 72, 0.75);
}

.separator-block__title h2 {
  font-size: 35px;
}

.separator-block__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator-block__subtitle p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* About ---------------------------------------------------*/

.about-block__container {
  width: 1299px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.about-block__text {
  width: 100%;
  height: 104px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-block__text p:first-child {
  margin-bottom: 18px;
}

.about-block__text strong {
  font-weight: bold;
}

.about-block__icon {
  height: 316px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-block__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-block__image {
  width: 100px;
  height: 100px;
}

.about-block__subtext {
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}

/* Services ---------------------------------------------------*/

.services-block {
  width: 1299px;
  height: 1290px;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  flex-wrap: wrap;
}

.services-block__body {
  width: 222px;
  height: 404px;
  display: flex;
  flex-direction: column;
}

.services-block__img {
  width: 178px;
  height: 206px;
  margin: 28px 22px 32px;
}

.services-block__text {
  margin: 0px 22px 0px;
}

/* Team ---------------------------------------------------*/

.team-block {
  width: 1299px;
  height: 718px;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  flex-wrap: wrap;
  font-size: 20px;
}

.team-block__body {
  width: 268px;
  height: 689px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-block__img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin: 28px 22px 32px;
}

.team-block__name {
  margin: 40px 0 40px;
}

.team-block__text {
  width: 248px;
  margin: 0px 22px 0px;
}

/* Price ---------------------------------------------------*/
.price-block {
  width: 1299px;
  height: 468px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.price-block__body {
  width: 848px;
  height: 426px;
}

/* Map ---------------------------------------------------*/
.contact-block {
  width: 1299px;
  height: 724px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-block__text {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-block__text a {
  margin-bottom: 35px;
  text-decoration: none;
  color: black;
}

.contact-block__text p {
  margin-bottom: 35px;
}
.contact-block__map {
  width: 1088px;
  height: 554px;
}

/* form ---------------------------------------------------*/
.form-block {
  width: 1299px;
  height: 428px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block__body {
  width: 910px;
  height: 362px;
  background-color: rgb(229, 174, 72, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-block__item {
  width: 850px;
  height: 54px;
  margin: 50px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-block__text {
  color: white;
  font-size: 25px;
}

.form-block__input {
 
}

.form-block__input input{
  width: 520px;
  height: 54px;
  border: none;
}

.form-block__button { 
  margin-top: 50px;  
}

.form-block__button button {
  width: 273px;
  height: 54px;
  background-color: rgb(33, 32, 33, 0.6);
  font-size: 18px;
  color: white;
}
/* Footer ---------------------------------------------------*/

.footer {
  background-color: rgb(33, 32, 33, 0.6);  
  color: white;
  height: 170px;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 1140px;
  height: 110px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__text h4 {
  font-size: 20px;
  margin-bottom: 25px;
  font-size: 15px;  
}

.footer__text p {
  margin-bottom: 25px;
}

.footer__text a {
 text-decoration: none;
 color: white;
}
